<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    {%- if site.certificates.size > 0 -%}
      <ul class="cert">
        {%- for cert in site.certificates -%}
          <li>
            <a href="{{ cert.url }}" target="_blank" title="{{ cert.name }}">
              <img src="{{ cert.image }}" alt="{{ cert.name }}">
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  </div>

</footer>
