---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{%- include outdated_title.html post=page -%}{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

    {%- if page.category %}
        <a href="{% link blog/categories.md %}#{{ page.category | slugify }}" class="post-category">{{ page.category }}</a>
      {%- endif -%}

      {%- if page.tags.size > 0 -%}
        {%- for tag in page.tags -%}
          <a href="{% link blog/tags.md %}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
        {%- endfor -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.outdated -%}
        {% include warning.html content="This post is outdated. Please refer to the latest documentation, common sense, your favorite search engine or LLM :stuck_out_tongue_winking_eye:" %}
    {%- endif -%}
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
